a{
    text-decoration: none;
    color: #e8e9ea;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFBBC1;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
header{
    color: #e8e9ea;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    background-color: #E11246;
    background-image: url("https://scontent.fnbo9-1.fna.fbcdn.net/v/t39.30808-6/432210757_820770750078334_7469891414357846670_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=dTcy7dCmT2cQ7kNvgEX2SnW&_nc_oc=AdgMo8tzFJURoe_uDdJWVsX8lrsfV3yFPdAqaCmrSQRZ0cECODxpEabDZfroLA7hRSw&_nc_pt=5&_nc_zt=23&_nc_ht=scontent.fnbo9-1.fna&_nc_gid=ABxZtQcm6o1hL_YApotMNeB&oh=00_AYDZiLBFLJuxorNxQSJIgZ540wUygErsa5CeOI58M9FErw&oe=67B2A62F");
    box-shadow: 10px 10px 5px rgba(97, 51, 51, );
    z-index: 999;
}
#more-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
}
#more-info h1{
    margin: 10px;
}
#hero{
    height: 60vh;
    background-image: url("/images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    font-size: 20px;
    position: relative;
}
#hero .details{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
#hero a{
    position: absolute;
    color: #e8e9ea;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #E11246;
    border-radius: 5px;
    padding: 10px;
    bottom: 100px;
    left: 80px ;
}
#why-donate{
    text-align: center;
    padding: 0 40px;
}
#eligibility .eligibility-cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
}
#eligibility p{
    font-size: 14px;
}
.eligibility-cont div{
    background: rgba(209, 170, 170, 0.4);
    padding: 5px;
    border-radius: 10px;
}
#eligibility div i{
    font-size: 100px;
}
.eligibility-cont img{
    height: 100px;
}
#partners img{
    height: 50px;
    margin: 10px;
}
#contact-us a{
    color: blue;
}
footer{
    background-color: #fab1b7;
    margin-bottom: -16px;
    text-align: center;
}
